* {
  font-family: "Times New Roman", Times, serif;
}
h3 {
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;

  & li {
    list-style-type: none;
    padding: 16px;

    & .productname {
      font-weight: 700;
    }
  }
}

.product-container {
  width: 100%;
  max-width: 1400px;
  text-align: center;

  & h3 {
    padding-bottom: 10px;
  }

  & .products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px 15px;
    padding: 0 17px;

    & .product {
      border-radius: 15px;
      background-color: #1c1c1c;
      padding: 16px;
      display: flex;
      justify-content: center;
      & .product-content {
        & img {
          width: 259px;
          aspect-ratio: 1 / 1;
        }
      }
    }
  }
}
