$primary: #ff6969;
$secondary: #ff0000;
$white: #fff;
$gray: white;

::-webkit-scrollbar {
  width: 6px;
  background: transparent;

  background-color: #4242426d;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 6px;
}

* {
  font-family: 'Louis Vuitton Webfont', sans-serif;
}
h3 {
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

.links {
  color: white;
  text-decoration: none;
}

.product-price{
  font-size: 0.9em;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.356);
  background-image: -webkit-radial-gradient( rgb(255, 204, 204) 0%, rgb(255, 102, 102) 15%, rgba(255, 51, 51, 0.3) 28%, rgba(153, 0, 0, 0) 70% );
  background-repeat: no-repeat;
  -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
  outline: none;
}
input[type="radio"]:checked {
  -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}
input[type="radio"]:active {
  -webkit-transform: scale(1.2);
  -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}

input[type="radio"],
input[type="radio"]:active {
  background-position: 0 24px;
}
input[type="radio"]:checked {
  background-position: 0 0;
}
input[type="radio"]:checked ~ input[type="radio"],
input[type="radio"]:checked ~ input[type="radio"]:active {
  background-position: 0 -24px;
}

.radio-label{
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.product-container {
  width: 100%;
  max-width: 1400px;
  text-align: center;

  & h3 {
    padding-bottom: 10px;
  }

  & .products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px 15px;
    padding: 0 17px;

    & .product {
      padding: 16px;
      display: flex;
      justify-content: center;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);

      & .product-info{
        width: 100%;
        text-align: start;
      }

      & .product-content {
        & img {
          width: 259px;
          aspect-ratio: 1 / 1;
          transition: all 0.2s ease-in-out;
          &:hover {
            transform: scale(1.1);
            transition: all 0.2s ease-in-out;
          }
        }

        & .btn {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          & button {
            border: none;
            outline: none;
            background: none;
            color: white;
            padding: 8px;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
    }
  }
  & .filter-sort {
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
    margin-top: 10px;
    & .filter {
      display: flex;
      flex-direction: column;
      text-align: start;
      font-size: 0.9em;
    }
    & select {
      border: none;
      outline: none;
      background-color: #ffffff;
      border-radius: 5px;
      color: rgb(0, 0, 0);
      padding: 8px;
    }
  }
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1em;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
  }
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.upload-img {
  margin-top: 20px;
  & input::file-selector-button {
    border: none;
    outline: none;
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.submit-btn {
  border: none;
  outline: none;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.1em;
}

.add-product-form {
  height: calc(100vh - 48px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & .add-product-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 20px;
  }
}

//for app.js
header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  & .links {
    padding: 0 8px;
    font-weight: 600;
  }
}

main {
  display: flex;
  justify-content: center;
}

//for product page

.single-product-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  & img{
    width: 60%;
  }

  & .product-price{
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 20px;
  }

  & .product-details-list{
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s all;
    list-style-type: circle;
  }

  & #all-product-details{
    position: absolute;
    right: 0;
    top: -8px;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 1.6rem;
    appearance: none;
    cursor: pointer;
  }

  & #all-product-details:not(:checked)::before{
    content: "˅";
  }

  & #all-product-details:checked::after{
    content: "˄";
  }

  & #all-product-details:checked + .product-details-list{
    max-height: 120px;
  }

  & .product-4-img{
    width: 300px;
  }
}

.input-info{
  height: 200px;
}